

<mat-toolbar color="primary" class="header">
  <span class="logo" routerLink="/">🍄 Mushroom </span>

  <span class="spacer"></span>

  <div class="nav-icons">
    <!-- Products (Always visible) -->
    <button mat-icon-button routerLink="/products" matTooltip="Products">
      <i class="fas fa-store"></i>
    </button>

    <!-- If user is NOT logged in -->
    <ng-container *ngIf="!currentUser">
      <button mat-icon-button routerLink="/wishlist" matTooltip="Wishlist">
        <i class="fas fa-heart"></i>
      </button>

      <button mat-icon-button routerLink="/login" matTooltip="Login">
        <i class="fas fa-user"></i>
      </button>
    </ng-container>

    <!-- If user IS logged in -->
    <ng-container *ngIf="currentUser">
      <button mat-icon-button routerLink="/cart" matTooltip="Cart">
        <i class="fas fa-shopping-cart"></i>
      </button>

      <button mat-icon-button routerLink="/orders" matTooltip="Orders">
        <i class="fas fa-receipt"></i>
      </button>

      <!-- User menu (includes logout) -->
      <button mat-icon-button [matMenuTriggerFor]="userMenu" matTooltip="Account">
        <i class="fas fa-user"></i>
      </button>

      <mat-menu #userMenu="matMenu">
        <button mat-menu-item (click)="logout()">
          <i class="fas fa-sign-out-alt"></i>
          Logout
        </button>
      </mat-menu>
    </ng-container>
  </div>
</mat-toolbar>
